* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

p,span,div {
    font-weight: 400px;
    size: 16px;
}

.color-todo {
    background-color: #00A6DA;
}

.todo-num {
    background-color: #00CDDA;
}

.color-doing {
    background-color: rgba(204, 172, 3, 0.56);
}

.doing-num {
    background-color: #dab700;
}

.color-completed {
    background-color: #3bc057;
}

.completed-num {
    background-color: #69be7e;
}

.color-block {
    background-color: #e74c3c;
}

.block-num {
    background-color: #e37164;
}
/* Header */
.container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    padding-left: 50px;
    padding-right: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 38px 0 0;
    margin-top: 0;
    position: relative;
}

.create-task {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-task img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.create-task img:hover {
    cursor: pointer;
    opacity: 0.5;
}

.create-task span {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-align: center;
    line-height: 20px;
}

.create-task span:hover {
    cursor: pointer;
    color: #00A6DA;
}
/* Task-lists */
.task-lists {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    width: 100%;
}

.col    {
    width: 22%;
    display: flex;
    flex-direction: column;
    /* gap: 50px; */
}

.status {
    /* background-color:#00A6DA; */
    color: #fff;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 10px;
    position: relative;
}

.status h3 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: center;
}

.status p {
    font-size: 14px;
    font-weight: 700;
    line-height: 17.64px;
    text-align: center;
    /* background-color: #00CDDA; */
    border-radius: 4px;
    padding: 2px 6px;
}

.line {
    margin-top: 10px;
    height: 2px;
    width: 100%;
    /* background-color: #00A6DA; */
    margin-bottom: 25px;
}

/* Task */
.task-lists {

}

.task {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    overflow: auto;
    height: 700px;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 3px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1); 
    border-radius: 5px; 
}

.item[draggable="true"] {
    transition: none !important;
    animation: none !important;
    opacity: 1; 
    filter: none; 
}

/* Task item */
.item {
    display: flex;
    flex-direction: column;
    width: 98%;
    padding: 10px 15px 20px;
    border-bottom: 1px solid #E5E5E5;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1), 0 5px 5px rgba(0, 0, 0, .25);
    border-radius: 8px;
    margin-bottom: 30px;
    cursor: grab;
}

.row-1 {
    display: flex;
    flex-direction: row;
}

.col-1 {
    text-align: left;
    padding-right: 20px;
}

.col-1 a {
    font-size: 12px;
    font-weight: 700;
    line-height: 15.12px;
    text-align: center;
    color: #4D8Eff;
}

.col-1 h2 {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: center;
    color: #000;
    margin-left: 0;
    box-sizing: border-box;
    text-align: left;
    margin-top: 5px;
    padding-right: 30px;
}

.col-1 .division {
    margin-top: 20px;
    margin-bottom: 8px;
    height: 1px;
    width: 100%;
    background-color: #dbdbdb;
}

.col-2 {
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.col-2 img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.col-2 img:hover {
    cursor: pointer;
    opacity: 0.5;
}

.row-2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 10px;
}

.row-2 .note {
    font-size: 10px;
    font-weight: 400;
    line-height: 12.6px;
    color: #5A5C6A;
    margin-bottom: 10px;
}

.row-2 .date {
    font-size: 10px;
    font-weight: 400;
    line-height: 12.6px;
    color: #5A5C6A;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.row-2 img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.active {
    display: flex;
}

.popup-main {
    padding: 10px;
    border-radius: 8px;
    width: 500px;
    height: fit-content;
    background-color: #f5ebe0;
    display: flex;
    flex-direction: column;
}

.popup-main img {
    width: 20px;
    height: 20px;
    margin-left: auto;
}

.popup-main img:hover {
    cursor: pointer;
    opacity: 0.5;
}

.popup-main h2 {
    font-size: 26px;
    font-weight: 700;
    line-height: 20.16px;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
}

.popup-main input[type="text"] {
    width: 100%;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 20px;
    margin-bottom: 10px;
}

.popup-main textarea {
    width: 100%;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 10px;
}

.popup-main button {
    width: 100%;
    height: 30px;
    background-color: #00A6DA;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.64px;
    text-align: center;
    margin-bottom: 10px;
}

.popup-main button:hover {
    cursor: pointer;
    background-color: #00CDDA;
}
/* Edit */
.edit-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.active-edit {
    display: flex;
}

.editMain {
    padding: 10px;
    border-radius: 8px;
    width: 500px;
    height: fit-content;
    background-color: #f5ebe0;
    display: flex;
    flex-direction: column;
}

.editMain img {
    width: 20px;
    height: 20px;
    margin-left: auto;
}

.editMain img:hover {
    cursor: pointer;
    opacity: 0.5;
}

.editMain h2 {
    font-size: 26px;
    font-weight: 700;
    line-height: 20.16px;
    color: #000;
    margin-bottom: 20px;
    text-align: center;
}

.editMain input[type="text"] {
    width: 100%;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 20px;
    margin-bottom: 10px;
}

.editMain textarea {
    width: 100%;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 10px;
}

.editMain button {
    width: 100%;
    height: 30px;
    background-color: #00A6DA;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.64px;
    text-align: center;
    margin-bottom: 10px;
}

.editMain button:hover {
    cursor: pointer;
    background-color: #00CDDA;
}

.status-task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.status-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.status-item input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
