* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* BACKGROUND */
.item-top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.item-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.item-circle {
    position: absolute;
    bottom: 10%;
    right: 21%;
}
/* Login form */
.login-form {
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 20;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #e0e0e0;
    border-radius: 25px;
    background-color: #fff;
    width: 1024px;
    height: 700px;
    /* padding: 0 120px 0 0; */
}

/* Col-left - login form */
.col-left {
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    width: 50%;
    height: 100%;
}

.col-left .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
}

.col-left .vector-top {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 30;
}

.col-left .vector-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 30;
}

/* Col-right - login form */
.col-right {
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-form {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.header-form .item {
    width: 139px;
    height: 38px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-form .item1{
    border-bottom: 2px solid #11698E;
}

.header-form h3 {
    font-size: 16px;
    line-height: 22px;
    width: 500;
}

.body-form {
    display: flex;
    flex-direction: column;
    width: 278px;
    height: 258px;
}

.body-form label {
    margin-bottom: 8px;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

.body-form input {
    width: 100%;
    height: 38px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    padding: 0 10px;
    margin-bottom: 5px;
    gap: 4px;
}

.error {
    margin-bottom: 20px;
    font-size: 12px;
    color: green;
}

.body-form input:focus {
    border: 1px solid #11698E;
    box-shadow: 0 0 5px rgba(17, 105, 142, 0.5);
}

.body-form input::placeholder {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #d9d9d9;
}

.remember {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.remember label {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    margin-left: 10px;
}

.remember input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    margin-bottom: 13px;
}

.remember input[type="checkbox"]:checked {
    background-color: #00A6DA;
}

.body-form button {
    width: 100%;
    height: 48px;
    background-color: #00A6DA;
    color: #fff;
    border: none;
    border-radius: 41px;
    cursor: pointer; 
}

.body-form button:hover {
    background-color: #11698E;
}
